{% extends 'base.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}
  {% if is_granted('ROLE_ADMIN') %}
    <h6>
      En mode admin
    </h6>
  {% endif %}
  {% if is_granted('ROLE_USER') %}
    <h6>
      En mode utilisateur
    </h6>
  {% endif %}
  <h1>Mon catalogue
  </h1>

  <form method="post" action="{{path('recherchemodel')}}">
    <select name="voiture" onchange="this.form.submit()">

      <option value="">Select a model:</option>

      <option value="AUDI Q">AUDI Q</option>
      <option value="BENTLEY">BENTLEY</option>
      <option value="BMW X">
        BMW X</option>
      <option value="BOLLORE BLUECAR">BOLLORE BLUECAR</option>

    </select>
  </form>
  <br><br>

  <div class="align-left">
    <form method="post" action="{{path('rechercheLocation')}}">
      <select name="voiture" onchange="this.form.submit()">

        <option value="">Select a City :</option>
        <option value="Bizrete">Bizrete</option>
        <option value="Tunis">Tunis</option>
        <option value="Sousse">Sousse</option>
        <option value="Mahdia">Mahdia</option>
        <option value="Tataouine">Tataouine</option>
        <option value="Touzeur">Touzeur</option>
        <option value="Béja">Béja</option>
        <option value="Nabeul">Nabeul</option>

      </select>
    </form>
  </div>

  <div class="row">
    {% for voiture in voitures %}
      <div class="col-4 mt-4">

        <div class="border border-dark rounded p-2 clearfix">
          <h4>
            {{ voiture.titre }}
            /
            {{ voiture.model }}
          </h4><br>
          <h6>Prix :
            {{ voiture.price }}
          </h6>

          <p>
            <td>{{ voiture.annee|date("F jS  ") }}</td>
          </p>
          {% if voiture.imges %}

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                {% for image in voiture.imges %}
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ asset('/uploads/' ~ image) }}" width="200" height="200">
                  </div>
                {% endfor %}
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>

          {% endif %}
          <hr>
          <a href="{{ path('add_fav', {'id': voiture.id}) }}" class="btn btn-danger float-right">
            <i class="fas fa-heart"></i>
            Favouri
          </a>

          <a href="{{ path('voiture_show', {'id': voiture.id}) }}">show</a>

          {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('voiture_edit', {'id': voiture.id}) }}">edit</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}

  </div>

  {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('voiture_new') }}" class="btn btn-sucess">Create new</a>
  {% endif %}

{% endblock %}
