{% extends 'base.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}

  <h2>
    Mon Panier
  </h2>
  {% if panierData | length > 0 %}
    <table class="table"></table>

  {% else %}
    <h3>
      Panier vide
    </h3>

  {% endif %}

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Titre</th>
        <th>Model</th>
        <th>Annee</th>
        <th>Location</th>
        <th>Description</th>
        <th>actions</th>
        <th>
          Photos</th>
      </tr>
    </thead>
    <tbody>
      {% for voiture in voitures %}
        <tr>
          <td>{{ voiture.id }}</td>
          <td>{{ voiture.titre }}</td>
          <td>{{ voiture.model }}</td>
          <td>{{ voiture.annee|date("F jS \\a\\t ") }}</td>
          <td>{{ voiture.location }}</td>
          <td>{{ voiture.description }}</td>
          <td></td>
          <td>
            <a href="{{ path('voiture_show', {'id': voiture.id}) }}">show</a>
            <a href="{{ path('add_panier', {'id': voiture.id}) }}">Ajouter au panier
            </a>
            {% if is_granted('ROLE_ADMIN') %}
              <a href="{{ path('voiture_edit', {'id': voiture.id}) }}">edit</a>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="7">no records found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('voiture_new') }}">Create new</a>
  {% endif %}
{% endblock %}
