{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
  <style>
    .carousel-inner img {

      /* make all photos black and white */
      width: 80%;
      /* Set width to 100% */
      margin: auto;
    }
    body {
      text-align: center;
    }

    .carousel-caption h3 {
      color: #fff !important;

    }

    @media (max-width: 600px) {
      .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
      }
    }

    #myCarousel {
      text-align: center;

    }
  </style>
  <body>
    <h1>
      {{ voiture.titre }}
      /
      {{ voiture.model }}</h1>
    <br>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        {% if voiture.imges %}
          <div class="item active">
            {% for image in voiture.imges %}
              <img src="{{ asset('/uploads/' ~ image) }}" alt="Image" width="350" height="350">
            {% endfor %}
          {% endif %}
          <div class="carousel-caption">
            <h3>{{ voiture.titre }}
              /
              {{ voiture.model }}</h3>
            <p>
              {{ voiture.annee|date("F jS \\a\\t ") }}</p>
            <p>
              Localisation :
              {{ voiture.location }}
            </p>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <br>
    <h4>Decription:

    </h4>
    <p>
      {{ voiture.description }}</p>

    <br>
    <br>
    {% if voiture.comments %}
      <table>

        {% for comm in voiture.comments %}
          <h6>
            {{comm.auteur.email}}
          </h6><br>
          <p>
            {{comm.content}}
          </p>
        {% endfor %}
      {% endif %}

      <h5>
        Ajouter un commentaire
      </h5>
      <br>
      <br>
      <form action="{{ path('new_comment', {'id': voiture.id}) }}" method="post">
        <div class="class=" form-group"=" form-group""="form-group" "">

          <input type="text" class="form-control" placeholder="Enter your comment.." id="username" name="comment"/>
        </div><br>
        <button type="submit" class="btn btn-primary float-right">Ajouter</button>
        <br>
        <a href="{{ path('voiture_index') }}">back to list</a>
        {% if is_granted('ROLE_ADMIN') %}
          <a href="{{ path('voiture_edit', {'id': voiture.id}) }}">edit</a>

          {{ include('voiture/_delete_form.html.twig') }}
        {% endif %}

      </form>
    </body>
  {% endblock %}
